@model GraduPoject.ViewModel.LoginVm
@{
    ViewData["Title"] = "Login";
    Layout = "_login";  
}

<section class="login-section">
    <div class="login-container">
        <div class="form-container">
            <h2>Login to Your Account</h2>

            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="submit-btn" id="login-btn">Login</button>
                <p class="forgot-password"><a asp-controller="Account" asp-action="ForgetPass">Forgot Password?</a></p>
                <p class="signup-link">Don't have an account? <a asp-action="Sign_up" asp-controller="Account">Sign Up</a></p>
            </form>
        </div>
        <div class="image-container">
            <img src="~/images/login.jpg" alt="Antique Image">
        </div>
    </div>
</section>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
